flask
flask_limiter
flask-cors
python-dotenv
pymongo
pinecone-client
llmsherpa
pandas
llama-index-core
llama-index-vector-stores-pinecone
llama-index-embeddings-fastembed==0.1.4
fastembed
llama-index-storage-index-store-mongodb
llama-index-llms-perplexity